.helper {
    position: fixed;
    top: 0px;
    width: 100%;
}

.helper .middle {
    text-align: center;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.dark .helper a {
    color: #6f582d;
}

i.diceroll {
    color: #666;
    font-style: unset;
    font-family: monospace;
    font-size: small;
}

p.klocka {
    font-style: unset;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #d81d1d;
    animation: blinker 2.3s cubic-bezier(0, 1.43, 0, 0.97) infinite;
}

i.dialog {
    font-style: unset;
    color: #ba8;
}

i.dialog.alex {
    color: #8ba;
}

@keyframes blinker {
    50% {
        opacity: 0.4;
    }
}